<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>安安古诗词记录</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
	<link rel="stylesheet" href="./static/css/tailwindcss@2.2.19.min.css">
</head>
<body>
	<div id="app" class="xl:container xl:mx-auto min-h-full">
		<div id="list" class="px-8 py-2" v-if="!bTesting">
			<h1 class="flex justify-between my-2">
				<span class="leading-10">古诗背诵记录表</span>
				<button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base
				leading-6 font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:border-red-700
				active:bg-red-700 transition ease-in-out duration-150" @click="fStartTest">
					测试
				</button>
			</h1>
			<div class="grid grid-cols-1 gap-y-1 md:grid-cols-2 lg:grid-cols-3">
				<div v-for="poem in poems">
					<h3 class="text-sm">
						<a :href="'#'+poem.id">
							<span class="inline-block w-4">{{poem.id}}</span>
							<span>{{poem.title}}</span>
							<span class="text-xs text-gray-600">{{poem.poet}}</span>
							<span class="text-xs text-gray-400">{{poem.date}}</span>
						</a>
					</h3>
				</div>
			</div>
			<a id="scrolltop" href="#list" class="fixed block right-2 bottom-2 w-8 h-8 animate-bounce">
				<img src="./static/image/icons/toTop.svg" class="w-full text-green-600">
			</a>
			<div class="">
				<div v-for="el in poems" :id="el.id" class="text-sm mt-1 pt-2 ">
					<h4 class="mb-1">
						<span>{{el.id}}</span>
						{{el.title}}
						<span class="text-xs text-gray-600">{{el.poet}}</span>
					</h4>
					<div>
						<div v-for="(p,index) in el.content">
							<p v-if="index%2 == 0"><span>{{p }}</span><span>{{el.content[index+1]}}</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-else class="px-8 py-2 h-full">
			<div>
				<button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base
				leading-6 font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:border-red-700
				active:bg-red-700 transition ease-in-out duration-150" @click="bTesting = false">
					←
				</button>
			</div>
			<div class="py-3">
				<div class="text-center text-2xl leading-normal">
					<p>{{currentPoem.title}}</p>
					<p class="text-base text-gray-600">{{currentPoem.poet}}</p>
				</div>
				<div class="text-2xl leading-relaxed py-3">
					<p v-for="(p,index) in currentPoem.content" class="text-center" v-show="index < pIndex">{{p}}</p>
				</div>
				<button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base
				leading-6 font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:border-red-700
				active:bg-red-700 transition ease-in-out duration-150" @click="fNext" v-if="pIndex < currentPoem.content.length">
					下一句
				</button>
			</div>
		</div>
	</div>
</body>
<!-- 先引入 Vue -->
<script src="./static/js/vue@2.6.12.js"></script>
<!-- 引入组件库 -->
<script src="./static/vender/element-ui@2.3.4/index.js"></script>
<script type="module">
	import { poems } from './static/js/poems.js'
	import { getRandom } from './static/js/utils.js'

	new Vue({
		el: '#app',
		data: function() {
			return {
				poems: poems,
				currentIndex: 0,
				bTesting: false,
				pIndex: 0,
				pContent: [],
			}
		},
		computed:{
			'currentPoem'(){
				return this.poems[this.currentIndex]
			}
		},
		methods: {
			fStartTest() {
				this.currentIndex = getRandom(0, this.poems.length -1)
				this.pIndex = 0;
				this.pContent = [];
				this.bTesting = true;
			},
			fNext(){
				if(this.pIndex <= this.currentPoem.content.length - 1){
					this.pContent.push(this.currentPoem.content[this.pIndex])
					this.pIndex++
				}
			}
		}
	})
</script>
</html>