<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
</head>
<body>
<div id="app">
	<mt-switch v-model="bChinese"></mt-switch>
	<mt-swipe :show-indicators="false" :auto="0">
		<mt-swipe-item v-for="(item,index) in list"  :key="index">
			<div class="image-wrap" v-for="ele in item">
				<img :src="ele.img" @click="fPlay(ele)">
			</div>
		</mt-swipe-item>
	</mt-swipe>
	<audio src="" id="audio" :key=""></audio>
</div>
</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
<script>
	new Vue({
		el: '#app',
		data: function() {
			return {
				list:[
					[
						{img:'./static/image/apple.jpg',name:'苹果',name_en:'Apple'},
						{img:'./static/image/avocado.jpg',name:'牛油果',name_en:'Avocado'},
					],
					[
						{img:'./static/image/orange1.jpg',name:'橙子',name_en:'Orange'},
						{img:'./static/image/kiwifruit.jpg',name:'猕猴桃',name_en:'Kiwifruit'},
					],
					[
						{img:'./static/image/pear.jpg',name:'梨',name_en:'Pear'},
						{img:'./static/image/pitaya.jpg',name:'火龙果',name_en:'Pitaya'},
					],
				],
				bChinese:true,
			}
		},
		methods: {
			fPlay(item){
				var audio =document.querySelector('#audio');
				audio.src = 'http://fanyi.baidu.com/gettts?lan=en&text='+item.name_en+'&spd=5&source=web';
				audio.play();
			},
		}
	})
</script>
<style>
	html,body {
		height: 100%;
		width: 100%;
	}
	#app{
		height: 100%;
		width: 100%;
		position: relative;
	}
	.mint-swipe-item:nth-child(2n) {
		background-color: #99a9bf;
	}

	.mint-swipe-item:nth-child(2n+1) {
		background-color: #d3dce6;
	}
	.image-wrap{
		width: 50%;
		float: left;
		height:100%;
		position:relative;
	}
	.image-wrap img{
		width: 100%;
		height: auto;
		position:absolute;
		top:50%;
		transform: translateY(-50%);
	}
</style>
</html>