@charset "utf-8";

/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* to preserve line-height and selector appearance */
sup {
    vertical-align:text-top;
}
sub {
    vertical-align:text-bottom;
}
input,
button,
textarea,
select {
    font-family:"Microsoft YaHei", "微软雅黑", Arial, Verdana, serif;
    font-size:inherit;
    font-weight:inherit;
    *font-size:100%; /*to enable resizing for IE*/
    width:auto;
    overflow:visible;
}
/*because legend doesn't inherit in IE */
legend {
    color:#000;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
/* end reset css */
html,
body {
    height:100%;
}
a,a:active{
    color:#333;
    text-decoration:none;
    outline:none;
}
/*float clear*/
.clear {
    zoom: 1;
}
.clear:after {
    content:"\200c";
    display:block;
    height:0;
    font-size:0;
    clear:both;
}
.none{
    display:none;
    overflow:hidden;
}

a,button,
input[type=submit],
input[type=button]{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
    background:#000;
    color:#333;
    font-family:"Microsoft YaHei", "微软雅黑", Arial, Verdana, serif;
    font-size:12px;
    line-height:1.4;
    -webkit-user-select:none; /* 禁止选择 */
    -moz-user-select:none;
    -ms-user-select:none;
    -webkit-touch-callout:none; /* 禁用弹出 */
}
.wrapper{
    width:100%;
    display:block;
    min-width:960px;
}
.main{
    margin:0 auto;
    width:960px;
}
.alignleft{
    float:left;
    display:inline;
}
.alignright{
    float:right;
    display:inline;
}
#wrap{
    min-height:100%;
    _height:100%;
    position:relative;
    overflow:hidden;
}
#header{
    position:fixed;
    _position:absolute;
    top:0;
    left:0;
    background:#121212;
    z-index:10;
    border-bottom:1px solid #19191b;
}
#header section{
    height:69px;
    line-height:69px;
}
#logo{
    text-indent:-9999em;
    width:138px;
    height:40px;
    float:left;
    position:relative;
    top:50%;
    margin:-20px 0 0 10px;
}
#logo a{
    display:block;
    width:100%;
    height:100%;
    background:url(http://www.baomi.com/images/logo.png) no-repeat;
    background-size:contain;
}
#menu{
    float:right;
    font-size:14px;
}
#menu a{
    float:left;
    padding:0 35px;
    color:#fff;
    position:relative;
}
#menu a span{
    position:relative;
    z-index:1;
}
#menu a:hover:after,
#menu a.active:after{
    display:block;
    content:'';
    position:absolute;
    top:0;
    height:100%;
    padding-bottom:1px;
    width:242px;
    left:50%;
    margin-left:-120px;
    background:url(http://www.baomi.com/images/mbg.png) no-repeat;
}
#menu a:hover,
#menu a.active{
    *color:#10507d;
}
#menu .apply{
    padding:0;
    margin:20px 10px 0 65px;
}
#menu .apply:hover:after{
    display:none;
}

#navs{
    position:fixed;
    top:50%;
    right:10px;
    width:18px;
    z-index:10;
    margin-top:-60px;
}
#navs a{
    height:8px;
    width:8px;
    display:block;
    margin:8px auto;
    background:url(http://www.baomi.com/images/nav.dark.png) no-repeat;
}
#navs a.active{
    width:18px;
    height:18px;
    background-image:url(http://www.baomi.com/images/nav_active.dark.png);
}

#pageSwitch{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
.cmbmpage{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    overflow:hidden;
}
.cmbmpage .bg{
    position:absolute;
    top:0;
    left:0;
    height:100%;
}
.cmbmpage .main{
    height:550px;
    position:relative;
    top:50%;
    margin-top:-235px;
}
.cmbmpage h2{
    font-size:34px;
    line-height:1.2;
}
.cmbmpage .desc{
    font-size:14px;
}

#p1{
    background:#000;
}
#p1 .m{
    position:absolute;
    top:-60px;
    left:-40px;
    width:1000px;
}
#p1 .desc{
    padding:370px 0 0 90px;
    position:relative;
    overflow:hidden;
}
#p1 .desc img{
    float:left;
    display:block;
}
#p1 .desc .p{
    margin:40px 0 0 40px;
    height:65px;
}
#p1 .t{
    clear:both;
    float:left;
    margin:25px 0 0;
    height:80px;
}
#p1 .t a{
    float:left;
    margin-right:20px;
    color:#4e93d4;
    font-size:14px;
    line-height:20px;
}
#p1 .t a:hover{
    color:#7bccff;
}
#p1 .apply{
    padding-right:14px;
    background:url(http://www.baomi.com/images/arrow.png) no-repeat right 4px;
}
#p1 .apply:hover{
    background-position:right -23px;
}
#p1 .play{
    padding-right:25px;
    background:url(http://www.baomi.com/images/play.png) no-repeat right 0;
}
#p1 .play:hover{
    background-position:right -29px;
}

#p2{
    text-align:center;
}
#p2 h2{
    color:#fff;
    padding:30px 0 10px;
}
#p2 .desc{
    color:#e7e7e7;
    width:650px;
    margin:0 auto;
    line-height:1.6;
}
#p2 .m{
    display:block;
    margin:70px auto 0;
    width:650px;
}
#p2 .bz{
    position:absolute;
    left:650px;
    top:140px;
    color:#48c5ff;
    text-align:left;
    font-size:12px;
    width:400px;
}
#p2 .bz article{
    padding-left:140px;
    height:100px;
    background:url(http://www.baomi.com/images/b2.png) no-repeat 0 10px;
}
#p2 .bz h3{
    font-size:16px;
}
#p2 .bz .b2{
    margin-top:30px;
    margin-left:30px;
}
#p2 .bz .b3{
    margin-top:40px;
    margin-left:30px;
}

#p3{
    background:#f6f6f6;
    text-align:center;
}
#p3 h2{
    padding:20px 0;
}
#p3 .desc{
    line-height:1.6;
}
#p3 .m{
    position:absolute;
    bottom:-230px;
    left:50%;
    margin-left:-375px;
    width:750px;
}

#p4{
    background:#f6f6f6;
}
#p4 .desc{
    width:300px;
    position:absolute;
    top:220px;
    right:40px;
    line-height:1.6;
}
#p4 .m{
    position:absolute;
    top:50px;
    right:400px;
    width:1200px;
}
#p4 h2{
    margin-bottom:20px;
}

#p5{
    background:#f6f6f6;
}
#p5 .desc{
    padding:150px 0 0 50px;
    position:relative;
    z-index:1;
}
#p5 h2{
    padding:20px 0;
}
#p5 ul{
    list-style:disc;
    margin-left:10px;
}
#p5 li{
    padding:3px 0;
}
#p5 .m{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-270px;
    margin-top:-230px;
    width:700px;
}

#p6 li{
    display:none;
    background:no-repeat center center;
    background-size:cover;
}
#p6 .nav{
    position:absolute;
    width:60px;
    height:60px;
    top:50%;
    margin-top:-30px;
    background:url(http://www.baomi.com/images/n1.png) no-repeat center center;
    background-color:#777;
    background-color:rgba(0,0,0,.6);
    border-radius:5px;
    text-indent:-9999em;
    z-index:8;
}
#p6 .prev{
    left:10%;
}
#p6 .next{
    right:10%;
    background-image:url(http://www.baomi.com/images/n2.png);
}

#p7 .m{
    width:570px;
    margin:20px auto 0;
    display:block;
}
#p7 ul{
    overflow:hidden;
    width:640px;
    margin:30px auto 0;
}
#p7 li{
    float:left;
    width:25%;
    padding:4px 0;
}

.mediaframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    background:rgba(0,0,0,.7);
    z-index:100;
    display:none;
}
.mediaframe .close{
    width:32px;
    height:32px;
    background:url(http://www.baomi.com/images/close.png) no-repeat center center;
    position:absolute;
    right:0;
    top:-50px;
}
.mediaframe .v{
    top:50%;
    left:50%;
    position:absolute;
    margin:-240px 0 0 -430px;
    width:853px;
    height:480px;
}
.mediaframe .video{
    width:100%;
    height:100%;
}

#footer{
    position:fixed;
    _position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:20px;
    line-height:20px;
    padding:5px 0;
    background:#000;
    text-align:center;
    color:#777;
    z-index:10;
    display:none;
}
#footer a{
    color:#777;
}
#footer a,
#footer span{
    display:none;
}
#footer span{
    margin:0 5px;
}

.blueButton{
    width:108px;
    height:31px;
    line-height:31px;
    padding:0;
    border:0;
    text-align:center;
    outline:none;
    color:#fff;
    background:url(http://www.baomi.com/images/blueBtn.png) no-repeat;
}
.blueButton:hover{
    background:url(http://www.baomi.com/images/blueBtn.hover.png) no-repeat -1px -1px;
}




.light #header{
    background:#fff;
    border-color:#fff;
}
.light #logo a{
    background-image:url(http://www.baomi.com/images/logo.dark.png);
}
.light #menu a{
    color:#666;
}
.light #menu a:hover:after,
.light #menu a.active:after{
    display:none;
}
.light #menu a:hover,
.light #menu a.active{
    color:#077dcf;
}
.light #menu .apply:hover,
.light #menu .apply{
    color:#fff;
}
.light #navs a{
    background-image:url(http://www.baomi.com/images/nav.png);
}
.light #navs a.active{
    background-image:url(http://www.baomi.com/images/nav_active.png);
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    /* 高分屏 */


}

@media (min-width:1000px) and (max-height:600px){

    .cmbmpage .main{
        height:480px;
        margin-top:-210px;
    }
    #p1 .desc{
        padding:310px 0 0 130px;
    }
    #p1 .m{
        width:900px;
        left:10px;
    }
    #p2 .m{
        width:600px;
        margin:40px auto 0;
    }
    #p2 .bz{
        top:110px;
    }
    #p2 .bz .b2{
        margin-top:10px;
    }
    #p3 .m{
        width:600px;
        margin-left:-300px;
    }
    #p4 .m{
        width:1000px;
    }
    #p4 .desc{
        top:220px;
    }
    #p5 .m{
        margin-top:-200px;
    }
    #p7 .m{
        width:450px;
    }

}
@media (min-width:1300px) and (min-height:870px){

    body{
        font-size:14px;
    }
    .wrapper{
        min-width:1200px;
    }
    .main{
        width:1200px;
    }

    .cmbmpage .main{
        height:800px;
        top:50%;
        margin-top:-375px;
    }
    .cmbmpage h2{
        font-size:45px
    }
    .cmbmpage .desc{
        font-size:16px;
    }

    #p1{
        background:#000;
    }
    #p1 .m{
        width:auto;
        left:-250px;
        top:-120px;
    }
    #p1 .t{
        height:auto;
    }
    #p1 .desc .p{
        margin-top:50px;
        height:auto;
    }
    #p1 .desc{
        padding:600px 0 0 100px;
    }

    #p2 h2{
        font-size:45px;
        padding:60px 0 10px;
    }
    #p2 .desc{
        width:750px;
    }
    #p2 .m{
        width:900px;
    }
    #p2 .bz{
        left:860px;
        top:190px;
        width:460px;
    }
    #p2 .bz .b2{
        margin-top:70px;
    }
    #p2 .bz .b3{
        margin-top:80px;
    }
    #p3 h2{
        font-size:45px;
        padding-top:60px;
    }
    #p3 .m{
        margin-left:-490px;
        width:auto;
        bottom:-300px;
    }

    #p4 .desc{
        top:400px;
    }
    #p4 .m{
        width:auto;
        top:100px;
    }

    #p5 h2{
        font-size:45px;
    }
    #p5 .desc{
        padding:250px 0 0 100px;
    }
    #p5 .m{
        top:150px;
        margin-left:-500px;
        width:1000px;
        margin-top:0;
    }

    #p7 .m{
        width:auto;
    }
    #p7 ul{
        margin-top:50px;
        width:800px;
    }

}

@media (min-height:1000px) and (min-width:1300px){

    #p5 .desc{
        padding:150px 0 0 50px;
    }
    #p5 .m{
        width:auto;
        margin-left:-550px;
    }

}

@media (max-width:800px){

    .wrapper{
        min-width:320px;
    }
    .main{
        width:100%;
    }
    #menu .apply{
        margin-left:30px;
    }
    .cmbmpage h2{
        font-size:30px;
    }
    #p1 .m{
        width:800px;
        left:50%;
        margin-left:-440px;
        top:0;
    }
    #p1 .desc{
        padding-top:400px;
    }
    #p1 .desc img{
        height:80px;
    }
    #p1 .desc .p{
        height:56px;
        margin-top:45px;
    }

    #p2 .desc{
        width:530px;
    }
    #p2 .m{
        width:500px;
    }
    #p2 .bz{
        display:none;
    }
    #p3 .m{
        width:500px;
        margin-left:-250px;
        top:200px;
    }
    #p4 .m{
        width:800px;
    }
    #p5 .m{
        width:500px;
        margin-left:-200px;
        margin-top:-200px;
    }
    #p5 .desc{
        text-shadow:1px 1px 1px rgba(255,255,255,.7);
    }


    #p7 .m{
        width:500px;
    }
    #p7 ul{
        margin-top:30px;
        width:500px;
    }

    .mediaframe .v{
        height:auto;
        width:100%;
        left:0;
        margin:0;
        -webkit-transform:translateY(-50%);
    }
    .mediaframe .close{
        right:10px;
    }

}

@media (max-width:540px){

    #header{
        height:49px;
        line-height:49px;
    }
    #logo{
        width:135px;
        height:17px;
    }
    #logo a{
        background-image:url(http://www.baomi.com/images/logo.small.png);
    }
    #menu a:not(.apply){
        display:none;
    }
    #menu .apply{
        margin-top:9px;
    }
    .cmbmpage .main{
        height:320px;
        margin-top:-135px;
    }
    .cmbmpage h2{
        font-size:25px;
    }
    .cmbmpage .desc{
        font-size:12px;
    }

    #p1 .m{
        width:400px;
        margin-left:-210px;
        top:-30px;
    }
    #p1 .desc img{
        height:40px;
    }
    #p1 .desc{
        width:260px;
        padding:140px 0 0;
        margin:auto;
    }
    #p1 .desc .p{
        clear:both;
        margin:20px 0 0 0;
    }
    #p1 .t{
        margin:20px 0 0 0;
    }

    #p2 h2{
        padding-top:15px;
    }
    #p2 .desc{
        width:280px;
    }
    #p2 .m{
        width:300px;
        margin-top:20px;
    }

    #p3 h2{
        padding:10px 0;
    }
    #p3 .m{
        width:300px;
        margin-left:-150px;
        top:150px;
    }
    #p4 h2{
        margin-bottom:10px;
        padding-top:10px;
    }
    #p4 .desc br,
    #p4 h2 br{
        display:none;
    }
    #p4 .m{
        width:450px;
        right:30px;
        top:180px;
    }
    #p4 .desc{
        text-align:center;
        position:static;
        margin:0 auto;
        width:280px;
    }
    #p5 .desc{
        padding:0;
        width:250px;
        margin:0 auto;
        padding-top:30px;
    }
    #p5 li{
        padding:8px 0;
    }
    #p5 .m{
        display:none;
    }

    #p7 .main{
        margin-top:-155px;
    }
    #p7 .m{
        width:320px;
        margin-top:0;
    }
    #p7 ul{
        width:280px;
        margin-top:20px;
    }
    #p7 li{
        width:50%;
        padding:2px 0;
    }

    #navs{
        margin-top:-40px;
        right:5px;
    }
    #navs a.active{
        width:10px;
        height:10px;
        background-size:contain;
    }
    .light #logo a{
        background-image:url(http://www.baomi.com/images/logo.small.dark.png);
    }

    #footer a,
    #footer span{
        display:inline;
    }

}


/* animate */
@-webkit-keyframes flyMe{
    0%{-webkit-transform:translate(-40%,40%);opacity:0;}
    100%{-webkit-transform:translate(0,0);opacity:1;}
}
@-moz-keyframes flyMe{
    0%{-moz-transform:translate(-40%,40%);opacity:0;}
    100%{-moz-transform:translate(0,0);opacity:1;}
}
@keyframes flyMe{
    0%{transform:translate(-40%,40%);opacity:0;}
    100%{transform:translate(0,0);opacity:1;}
}
@-webkit-keyframes pgyAni{
    0%{-webkit-transform:perspective(500px) translate(-100px,50px);opacity:0;}
    40%{-webkit-transform:perspective(500px) translate(0,-50px) rotateX(30deg) rotateY(-30deg);opacity:1;}
    70%{-webkit-transform:perspective(500px) translate(100px,-100px) scale(.7);;opacity:1;}
    100%{-webkit-transform:perspective(500px) translate(150px,-140px) rotateX(-30deg) rotateY(30deg) scale(.4);opacity:0;}
}
@-moz-keyframes pgyAni{
    0%{-moz-transform:perspective(500px) translate(-100px,50px);opacity:0;}
    40%{-moz-transform:perspective(500px) translate(0,-50px) rotateX(30deg) rotateY(-30deg);opacity:1;}
    70%{-moz-transform:perspective(500px) translate(100px,-100px) scale(.7);;opacity:1;}
    100%{-moz-transform:perspective(500px) translate(150px,-140px) rotateX(-30deg) rotateY(30deg) scale(.4);opacity:0;}
}
@-ms-keyframes pgyAni{
    0%{-ms-transform:perspective(500px) translate(-100px,50px);opacity:0;}
    40%{-ms-transform:perspective(500px) translate(0,-50px) rotateX(30deg) rotateY(-30deg);opacity:1;}
    70%{-ms-transform:perspective(500px) translate(100px,-100px) scale(.7);;opacity:1;}
    100%{-ms-transform:perspective(500px) translate(150px,-140px) rotateX(-30deg) rotateY(30deg) scale(.4);opacity:0;}
}
@keyframes pgyAni{
    0%{transform:perspective(500px) translate(-100px,50px);opacity:0;}
    40%{transform:perspective(500px) translate(0,-50px) rotateX(30deg) rotateY(-30deg);opacity:1;}
    70%{transform:perspective(500px) translate(100px,-100px) scale(.7);;opacity:1;}
    100%{transform:perspective(500px) translate(150px,-140px) rotateX(-30deg) rotateY(30deg) scale(.4);opacity:0;}
}
@-webkit-keyframes fadeIn{
    0%{opacity:0}
    100%{opacity:1}
}
@-moz-keyframes fadeIn{
    0%{opacity:0}
    100%{opacity:1}
}
@keyframes fadeIn{
    0%{opacity:0}
    100%{opacity:1}
}
@-webkit-keyframes scaleIn{
    0%{-webkit-transform:scale(0);}
    100%{-webkit-transform:scale(1);}
}
@-moz-keyframes scaleIn{
    0%{-moz-transform:scale(0);}
    100%{-moz-transform:scale(1);}
}
@keyframes scaleIn{
    0%{transform:scale(0);}
    100%{transform:scale(1);}
}
@-webkit-keyframes scaleOut{
    0%{-webkit-transform:scale(2);}
    100%{-webkit-transform:scale(1);}
}
@-moz-keyframes scaleOut{
    0%{-moz-transform:scale(2);}
    100%{-moz-transform:scale(1);}
}
@keyframes scaleOut{
    0%{transform:scale(2);}
    100%{transform:scale(1);}
}
@-webkit-keyframes scaleIn2{
    50%{-webkit-transform:scale(.9);}
    100%{-webkit-transform:scale(1);}
}
@-webkit-keyframes flyLeft{
    0%{-webkit-transform:translateX(-50px);opacity:0}
    100%{-webkit-transform:translateX(0);opacity:1}
}
@-moz-keyframes flyLeft{
    0%{-moz-transform:translateX(-50px);opacity:0}
    100%{-moz-transform:translateX(0);opacity:1}
}
@keyframes flyLeft{
    0%{transform:translateX(-50px);opacity:0}
    100%{transform:translateX(0);opacity:1}
}
@-webkit-keyframes flyRight{
    0%{-webkit-transform:translateX(50px);opacity:0}
    100%{-webkit-transform:translateX(0);opacity:1}
}
@-moz-keyframes flyRight{
    0%{-moz-transform:translateX(50px);opacity:0}
    100%{-moz-transform:translateX(0);opacity:1}
}
@keyframes flyRight{
    0%{transform:translateX(50px);opacity:0}
    100%{transform:translateX(0);opacity:1}
}
@-webkit-keyframes flyTop{
    0%{-webkit-transform:translateY(-50px);opacity:0}
    100%{-webkit-transform:translateY(0);}
}
@-moz-keyframes flyTop{
    0%{-moz-transform:translateY(-50px);opacity:0}
    100%{-moz-transform:translateY(0);opacity:1}
}
@keyframes flyTop{
    0%{transform:translateY(-50px);opacity:0}
    100%{transform:translateY(0);opacity:1}
}
@-webkit-keyframes flyBottom{
    0%{-webkit-transform:translateY(50px);opacity:0}
    100%{-webkit-transform:translateY(0);opacity:1}
}
@-moz-keyframes flyBottom{
    0%{-moz-transform:translateY(50px);opacity:0}
    100%{-moz-transform:translateY(0);opacity:1}
}
@keyframes flyBottom{
    0%{transform:translateY(50px);opacity:0}
    100%{transform:translateY(0);opacity:1}
}


@-webkit-keyframes popIn{
    0%{-webkit-transform:scale(0,0);opacity:0.5;}
    100%{-webkit-transform:scale(1,1);opacity:1;}
}
@-moz-keyframes popIn{
    0%{-moz-transform:scale(0,0);opacity:0.5;}
    100%{-moz-transform:scale(1,1);opacity:1;}
}
@keyframes popIn{
    0%{transform:scale(0,0);opacity:0.5;}
    100%{transform:scale(1,1);opacity:1;}
}


@-webkit-keyframes flipinX{
    0%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:.8;}
    40%{-webkit-transform:perspective(400px) rotateX(-10deg);}
    70%{-webkit-transform:perspective(400px) rotateX(10deg);}
    100%{-webkit-transform:perspective(400px) rotateX(0);opacity:1;}
}
@-moz-keyframes flipinX{
    0%{-moz-transform:perspective(400px) rotateX(90deg);opacity:.8;}
    40%{-moz-transform:perspective(400px) rotateX(-10deg);}
    70%{-moz-transform:perspective(400px) rotateX(10deg);}
    100%{-moz-transform:perspective(400px) rotateX(0);opacity:1;}
}
@-ms-keyframes flipinX{
    0%{-ms-transform:perspective(400px) rotateX(90deg);opacity:.8;}
    40%{-ms-transform:perspective(400px) rotateX(-10deg);}
    70%{-ms-transform:perspective(400px) rotateX(10deg);}
    100%{-ms-transform:perspective(400px) rotateX(0);opacity:1;}
}
@keyframes flipinX{
    0%{transform:perspective(400px) rotateX(90deg);opacity:.8;}
    40%{transform:perspective(400px) rotateX(-10deg);}
    70%{transform:perspective(400px) rotateX(10deg);}
    100%{transform:perspective(400px) rotateX(0);opacity:1;}
}

.flyMe{
    -webkit-animation:flyMe 1s ease;
    -moz-animation:flyMe 1s ease;
    animation:flyMe 1s ease;
}
.fadeIn{
    -webkit-animation:fadeIn 1s ease;
    -moz-animation:fadeIn 1s ease;
    animation:fadeIn 1s ease;
}
.scaleIn{
    -webkit-animation:scaleIn 1s ease;
    -moz-animation:scaleIn 1s ease;
    animation:scaleIn 1s ease;
}
.scaleOut{
    -webkit-animation:scaleOut 1s ease;
    -moz-animation:scaleOut 1s ease;
    animation:scaleOut 1s ease;
}
.flyLeft{
    -webkit-animation:flyLeft 1s ease;
    -moz-animation:flyLeft 1s ease;
    animation:flyLeft 1s ease;
}
.flyRight{
    -webkit-animation:flyRight 1s ease;
    -moz-animation:flyRight 1s ease;
    animation:flyRight 1s ease;
}
.flyTop{
    -webkit-animation:flyTop 1s ease;
    -moz-animation:flyTop 1s ease;
    animation:flyTop 1s ease;
}
.flyBottom{
    -webkit-animation:flyBottom 1s ease;
    -moz-animation:flyBottom 1s ease;
    animation:flyBottom 1s ease;
}
.popIn{
    -webkit-animation:popIn 1s ease;
    -moz-animation:popIn 1s ease;
    animation:popIn 1s ease;
    -webkit-transform-origin:right;
    -moz-transform-origin:right;
    transform-origin:right;
}